:root {
    --cor-principal: #ffffff;   /* MUDA A COR AQUI */
    --cor-secundaria: #062f88;  /* MUDA A COR DO FUNDO AQUI */
}

body {
    background-color: var(--cor-secundaria);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    text-align: center;
    max-width: 90%;
}

.passo {
    display: none;
    padding: 25px;
    background: rgba(0,0,0,0.25);
    border-radius: 15px;
    backdrop-filter: blur(4px);
}

.passo.ativo {
    display: block;
}

button {
    background-color: var(--cor-principal);
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    filter: brightness(1.15);
    transform: scale(1.05);
}

img {
    max-width: 90%;
    margin-top: 15px;
    border-radius: 10px;
}
